<%- include('../includes/head.ejs')%>
<%- include('../includes/nav.ejs')%>
<body>
    <%let totalcost = 0;%>
    <!-- Button trigger modal -->  
  <!-- Modal -->
    <%
    if (products.length == 0) { %>
        <h1>No items in the cart</h1>
    <% } else { %>
        <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% products.forEach(product => { %>
                            <tr>
                                <td class="align-middle my-td"><img src="/<%=product.productId.imageUrl %>" alt="" style="width: 50px; margin-right: 4rem;"><a href="/products/<%=product.productId._id%>"><%=product.productId.title %></a></td>
                                <td class="align-middle">₹ <%=product.productId.price %></td>
                                <td class="align-middle"><%=product.quantity%></td>
                                <td class="align-middle">₹ <%= product.productId.price * product.quantity %><%totalcost += product.productId.price * product.quantity%></td>
                                <td class="align-middle">
                                    <form action="/delete-cart-item" method="POST">
                                        <input type="hidden" value="<%= product.productId._id %>" name="id">
                                        <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>₹ <%= totalcost%></h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>₹ <%= totalcost%></h5>
                        </div>
                        
                            <button type="button" class="btn btn-primary btn-block my-3 py-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Proceed To Checkout
                              </button>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">shipping address</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/checkout" method="post" id="form">
                <div class="bg-light p-30">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="Mayank" name="fname">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Sharma" name="lname">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="email" placeholder="example@email.com" name="email">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+91 4566776489" name="phone">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street" name="addr1">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street" name="addr2">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select" name="country">
                                <option selected>India</option>
                                <option>USA</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New Delhi" name="city">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="Delhi" name="state">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="110000" name="zip">
                        </div>
                        <input type="hidden" name="totalcost" value="<%=totalcost%>">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit" onclick="document.getElementById('form').submit()">Checkout</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Cart End -->
    <% } %>
    <%- include('../includes/footer.ejs')%>
</body>
<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
    })
</script>
</html>