<%- include('../includes/head.ejs')%>
<%- include('../includes/nav.ejs')%>
<body>
    <section id="profile">
        <div class="box1 box">
          <div class="content">
            <div class="image">
              <img src="<%if(user.imageUrl){%>/<%=user.imageUrl%><%}else{%><%='https://i.postimg.cc/bryMmCQB/profile-image.jpg'%><%}%>" alt="Profile Image">
            </div>
            <div class="text">
              <p class="name"><%if(user.name){%> <%=user.name%> <%}else{%> Add your name <%}%></p>
              <ul id="profile-list">
                <li>
                    Email - <%=user.email%>
                </li>
                <li>
                    <%if(user.phone){%>Phone - <%=user.phone%> <%}else{%> Add phone number <%}%>
                </li>
              </ul>
            </div>
            <div class="button">
              <div>
                <button id="profilebutton" class="connect" type="button" onclick="window.open('/admin/edit-profile' , '_self')">Edit Profile</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('../includes/footer.ejs')%>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>